extends ../_layouts/layout

block navigation
  +navigation(null, "help-desk")

block body
  .section#help-desk-screen-1
    .center-wrapper
      .left
        .big-text IMAP
        .medium-text Individual Medical Assitance Program
        .paragraph Ang Individual Medical Assistance Program o IMAP ay programa ng Philippine Charity Sweepstakes Office (PCSO) na ang layunin ay magbigay ng serbisyong medikal sa taong tumatapat sa mga kwalipikasyon. Maaaring kumuha ang mga pasyenteng may XDP at mabigyan ng libreng pagamot (madalas sa paraan ng botox injections) kapag nakumpleto na nila ang mga hakbang at kinakailangan para sa IMAP.
        .medium-text Requirements
        ul.dotted.checks
          li Accomplished IMAP Application Form
          li 2 Valid IDs
            ul.dotted.red-line
              li PWD ID Card
              li SSS
              li GSIS
              li PAG-IBIG
              li Driver's License
              li Senior Citizen's ID
              li Passport
          li Medical Abstract
          li Barangay Indigency
          li Social Case Study
          li Quotation of Botox
          li Personal letter addressed to the General Manager
      .right
        a.button.red(href="/download/HALIGI IMAP Checklist (web).pdf" target="_blank") Download checklist of requirements here
        img.image(src="/img/help-desk.png")
  .section#help-desk-screen-2
    .center-wrapper
      .left
        .circle
        .triangle
        .content-wrapper#categories-wrapper
          
      .right
        .big-text Neurologists
        .items#items-wrapper
        //- .page-navigation
        //-   .btn-left &lt;
        //-   .page 1
        //-   .btn-right &gt;
  script(src="/js/jquery.js")  
  script(src="/js/help-desk.js")
