extends ../_layouts/layout

block navigation
  +navigation(null, "help-desk")

block body
  .section#help-desk-screen-1
    .center-wrapper
      .left
        .big-text IMAP
        .medium-text Individual Medical Assitance Program
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .medium-text Requirements
        ul.dotted.red.checks
          li Medical Abstract
          li Barangay Indigency
          li Social Cast Study
          li Personal Letter Addressed to the General Manage
          li Quotation of Medical Expenses
          li 2 Valid IDs
            ul.dotted.yellow
              li PWD Card
              li Another one
                ul.dashed
                  li what is this
              li GSIS
                ul.dashed
                  li How to apply go here
                  li Benefits go here
      .right
        .button.red Download checklist of requirements here
        .image-wrapper
  .section#help-desk-screen-2
    .center-wrapper
      .left
        
      .right
        .big-text Neurologists
        .neurologists
          .page.page-1
            .neurologist
              .name Aida M. Salonga
              .address Rm. 502 MAB St. Luke's Medical Center, Quezon City
            .neurologist
              .name Aida M. Salonga
              .address Rm. 502 MAB St. Luke's Medical Center, Quezon City
            .neurologist
              .name Aida M. Salonga
              .address Rm. 502 MAB St. Luke's Medical Center, Quezon City
            .neurologist
              .name Aida M. Salonga
              .address Rm. 502 MAB St. Luke's Medical Center, Quezon City
            .neurologist
              .name Aida M. Salonga
              .address Rm. 502 MAB St. Luke's Medical Center, Quezon City
        .page-navigation
          .btn-left &lt;
          .page 1
          .btn-right &gt;
