extends _layouts/layout

block navigation
  +navigation("inverse")

block body
  .section#home-screen-1
    .center-wrapper
      .text-wrapper
        .big-text What is XDP?
        .paragraph Ayon sa isang pag-aaral noong 2010, isa sa mahigit 4000 nalalaki sa Capiz ay apektado ng namamanang sakit na ito. Alamin ang tungkol sa X-Linked Dystonia Parkinsonism, kung paano ito naipapasa sa ibang tao, at ang posibleng paraan ng pagpagaling para sa sintomas nito.
        a.btn-more(href="/whats-xdp") Read more
      img.img-brain(src="img/brain.png")

  .section#home-screen-2
    .center-wrapper
      .left
        img(src="img/family.png")
        .big-text Living with XDP
      .right
        .paragraph Ang payo at mga pagkukunan ng mga taong may XDP---. Kasama ang ibang payo para sa mga tagapag-alaga sa pagsusuporta sa inyong minamahal na may XDP.
        a.btn-more(href="/living-with-xdp") Read more

  .section.center#home-screen-3
    .center-wrapper
      .big-text Help Desk
      .paragraph Hindi madali ang buhay kapag may XDP, ngunit maraming espesyalista na maaaring magbigay ng payo at gabay. Kilalanin sila, kung paano sila i-contact, at ang mga programang bigay ng gobyerno kung saan kaya mong makinabang.
      a.btn-more(href="/help-desk") Read More
        
  .section#home-screen-4
    .center-wrapper
      .text-wrapper
        .big-text About Sunshine Care Foundation
        .paragraph Ang Sunshine Care Foundation, Inc. ay dedikado sa pagbibigay ng pag-aalaga at suporta sa mga pasyente ng XDP at ang kanilang pamilya. Nagpopondo at nagtataguyod ng saliksik din ito sa paghahanap ng lunas. Sa ngayon, sa Visayas sila nakabase, at may layunin silang magpalawak sa Manila sa hinaharap na panahon.
      .buttons-wrapper
        a.btn-more(href="/about-scf") Read More
    
  .section.center#home-screen-5
    .center-wrapper
      .big-text Meet the Patients
      .text-wrapper
        .paragraph Alamin ang tungkol sa buhay ng mga taong may XDP na nakabase sa Metro Manila.

      .buttons-wrapper
        a.btn-more(href="/meet-the-patients") Read More
