extends _layouts/layout

block navigation
  +navigation("inverse")

block body
  .section#home-screen-1
    .center-wrapper
      .text-wrapper
        .big-text What's XDP?
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        a.btn-more Read more
      img.img-brain(src="img/brain.png")

  .section#home-screen-2
    .center-wrapper
      .left
        img(src="img/family.png")
        .big-text Living with XDP
      .right
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        a.btn-more Read more

  .section.center#home-screen-3
    .center-wrapper
      .big-text Help Desk
      .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      a.btn-more Read More
        
  .section#home-screen-4
    .center-wrapper
      .text-wrapper
        .big-text About Sunshine Care Foundation
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .buttons-wrapper
        a.btn-more Read More
    
  .section.center#home-screen-5
    .center-wrapper
      .big-text Meet the Patients
      .text-wrapper
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .buttons-wrapper
        a.btn-more Read More
