extends ../../_layouts/living-with-xdp

append body
  .section#home-life-screen-1
    .center-wrapper
      .left
        .big-text Family &amp; Reproduction
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        ul.dotted
          li Read about the thing here
          li Contact number of family counselor
        .big-text Suporta
        .paragraph Magandang paraan ang mga support groups sa iba’t ibang anyo nito upang magbahagi ng emosyon, kuwento, at magtanong sa mapag-unawang kapaligiran. Minsan nakakapaghiwalay sa ibang tao ang XDP, ngunit may kapamilya tayo na nakakapag-alay ng ligtas na lugar, suporta, at stabilidad, lalo na sa pasyenteng kamakailan lang na-diagnose ng XDP na maaaring mapuspos sa sitwasyon nila.
      .right
        img(src="/img/family.png")
        .button.blue Join the Conversation
  .section.center#home-life-screen-2
    .center-wrapper
      .big-text Kaayusan at Kabutihan
      .paragraph Nirerekomendang 6 na maliit na pagpakain sa bawat 3 o 4 na oras. Wasto ang soft diet para sa dysphagia (hirap na paglunok). Kailangang kumain ng protein. Kasali dito ang cooking oil o mantika sa pagkaka-compute upang maging tama ang dami ng calories kapag hindi nakakain ng carbohydrates.
  .section#home-life-screen-3
    .center-wrapper
      .embed-wrapper
        | something goes here
      .text-wrapper
        .big-text Ehersisyo
        .paragraph Nababawas sa timbang ang mga XDP patients kahit walang ehersisyo dahil hindi sila mapakali dahil sa kanilang dystonia. Ngunit, nakakatulong kahit ang pag-unat dahil sa mga sumusunod:
        ul.dotted.yellow
          li Nagiging maayos ang daloy ng dugo sa katawan
          li Nakakatulong sa pakikipag-ugnayan sa kapamilya at ibang pasyente
          li May potensyal itong magpatanggal ng stress at anxiety sa paraan ng pagbaba ng blood pressure at paghinga

        .button.red Download meal plan
  .section#home-life-screen-4
    .center-wrapper
      .embed-wrapper
        | something goes here
      .text-wrapper
        .big-text Stretching
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .button.red Download stretching poster
  .section#home-life-screen-5
    .center-wrapper
      .left
        .big-text Anxiety &amp; Depression
        .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        ul.dotted.red
          li Read about the thing here
          li Contact number of family counselor
      .right
