extends ../_layouts/layout

block navigation
  +navigation(null, "whats-xdp")

block body
  .section#whats-xdp-screen-1
    .center-wrapper
      .big-text What is XDP?
    .center-wrapper
      .left
        .paragraph Ang X-Linked Dystonia Parkinsonism (XDP) o lubag ay sakit na nakaaapekto sa Pilipinong kalalakihan, lalo na ang mga pamilyang may ugat sa Visayas. Kasama sa mga katangian nito ang dystonic at parkinsonian na katangian. Isang paggalaw sa utak ang dystonia kung saan kusang nagkakaroon ng kontraksyons ang muscles, at ito’y nagreresulta sa mga kilos na hindi kontrolado at paulit-ulit, at abnormal na pustura. Ang sintomas ng Parkinsons ay binubuo ng mabagal na kilos, lack of facial expression, at pagyanig.
        .medium-text Sintomas, sanhi, at paglala
        .paragraph Karamihan ng katangian ng dystonia ay nagsisimula sa focal dystonia, at lalala ito sa generalized dystonia na nakakaapekto sa parte na craniofacial (ulo at mukha) at cervical (leeg) (Kawarai, 2017).
        .paragraph Nangyayari ang focal dystonia kapag naaapektuhan ang partikular na parte ng katawan. Nakakalat ang focal dystonia sa sumusunod:
        ul.dotted.yellow
          li Binti (31%)
          li Ulo at mukha (28%)
          li Leeg at balikat (23%)
          li Itaas na bahagi ng katawan (14%)
          li Katawan (2.6%)
      .right
        .medium-text Prevelance
        img(src="/img/map.png")
  .section#whats-xdp-screen-2
    .center-wrapper
      .paragraph Ang sintomas ng Parkinson’s ay nagpapakita bilang yanig, bradykinesia (ang pagbabagal ng kilos), pagkulang sa expresyon ng mukha, at paglaway (Kanovsky, 2015).
    .center-wrapper
      .line
      .numbers
        .number 0
        .number 2
        .number 7
        .number 10
        .number 15
      .texts
        .text Nagpapakita na ang katangian ng dystonia
        .text Nangingibabaw ang katangian ng dystonia sa katangian ng Parkinson’s na kasing-aga ng pangalawang taon
        .text Nagpapakita na ang katangian ng Parkinson’s (Rosales, 2010)
        .text Nangingibabaw ang katangian ng Parkinson’s (Kanovsky, 2015)
  .section#whats-xdp-screen-3
    .center-wrapper
      .medium-text Ano ang sanhi ng XDP?
      .paragraph.padded Isang klaseng genetic mutation ang sanhi ng XDP, at maaari itong pasahan mula sa magulang sa bata. Hindi pa kinilala ang mismong mutation ngunit nalaman ng mga researchers sa bahagi ng DNA  sa X chromosome. Dito malalaman kung ipapanganak na lalaki o babae ang tao. Dahil dito, ang tawag sa XDP ay X-linked o sex-linked na sakit.
  .section#whats-xdp-screen-4
    .center-wrapper
      .medium-text Genetics
      .paragraph.padded Naipapasa ang XDP sa mga genetic carriers o yaong may abnormal na kopya ng isang gene. Maaaring mayroon o walang sintomas ang genetic carrier. Dito, madalas hindi sa babae ang sakit. Ngunit, maaari nilang ipasa ang sakit sa lalaki nilang anak. Mayroong isa sa dalawang pagkakataon ang lalaking anak na maapektuhan at magkasakit. Kapag ang ipinanganak ay babaeng anak, napapasa ang gene sa babaeng anak subalit hindi pinapakita ang sakit sa kanila. Sa halip nito, nagiging carrier ang mga babaeng anak, at napapasa ang sakit sa kanilang lalaking anak.
      img(src="/img/genetic-diagram.png")
  .section#whats-xdp-screen-5
    .center-wrapper
      .medium-text Paggamot
      .paragraph.padded Wala pa ring lunas para sa XDP. Ginagamot ng anticholinergics at antihistamine ang mga sintomas. Gumagana lang ito sa ibang pasyente ngunit hindi lahat, sapagkat iba ang mga tugon ng pasyente sa mga gamot. Mahalagang alalahanin na lahat ng gamot ay may side effects. Maaaring botulinum toxin (botox) injections at brain surgery na Deep Brain Simulation (DBS) ang alternatibong paraan sa pagpapagamot.
      .paragraph.padded Inihahandog ng Philippine Charity Sweepstakes Office o PCSO ang Individual Medical Assistance Program (IMAP) kung saan maaaring makatanggap sila ng libreng medikasyon para sa kontroladong halaga pagkatapos ng pag-apply. Maaring pumunta sa kanilang Help Desk page kung nais na mas malaman ito.
