extends ../_layouts/layout

block navigation
  +navigation(null, "living-with-xdp", false)

block body
  #living-with-xdp-screen-1
    .background
    a(href="/living-with-xdp/home-life") Home Life
    a(href="/living-with-xdp/work-life") Work Life
