extends ../../_layouts/living-with-xdp

append body
  .section#work-life-screen-1
    .center-wrapper
      .left
        .big-text Mga Isyu sa Trabaho
        .paragraph Patuloy na sinasama ng Department of Trade and Industry ang mga PWD sa labor sector ng Pilipinas. Ang layunin ng PWD Economic Empowerment Program ay tumutulong sa pagsama ng mga PWD sa mainstream society o pangunahing lipunan. Ang programang ito ay naglalaan ng mga sumusunod:
        ul.dotted.yellow
          li Enterprise level assistance
          li Enabling environment
          li Policy advocacy
      .right
        .big-text Pagpili ng Hanapbuhay
        .paragraph Matuturing mahirap ang kumikita na may XDP lalo na’t dahil madalas “bedridden” o hindi sila masyadong makagalaw. Subalit, may mga alternatibo na pwedeng ikonsidera upang magkakita ang mga pamilya kung nangangailangan.
        ul.dotted.yellow
          li Mobile phone SMART loading business
          li Cebuana pera padala

          
          
