extends ../../_layouts/living-with-xdp

append body
  .section#work-life-screen-1
    .center-wrapper
      .left
        .big-text Something something
        .paragraph There is something else written here too but longer so I'm just typing a lot of other things so that I can see how the text flows in this layout. 
        ul.dotted
          li Here's a list item
          li Oh hey look here's another list item but longer
          li Well here's another one but not as long
      .right
        .big-text Something something
        .paragraph There is something else written here too but longer so I'm just typing a lot of other things so that I can see how the text flows in this layout. 
        ul.dotted
          li Here's a list item
          li Oh hey look here's another list item but longer
          li Well here's another one but not as long
