extends ../_layouts/layout

block navigation
  +navigation(null, "about-scf")

block body
  #about-image-wrapper
    .image-1
    .image-2
  .section#about-screen-1
    .center-wrapper
      .left
        .big-text Sunshine Care Foundation
        .paragraph Nakapokus ang SCF sa paghahanap ng lunas para sa XDP. Sa dahilang ito, nagpopondo sila ng mga tagapagsaliksik sa ibang panig ng mundo sa pamamagitan ng Collaborative Center for X-Linked Dystonia Parkinsonism sa Massachusetts General Hospital (CCXDP).
        .paragraph Naghahanap ng lunas ang mga siyentipikong nakaakibat sa CCXDP. Ang mga pasyenteng nais lumahok sa saliksik namin ay maaaring sumali sa “large family pedigree studies” at magbigay ng dugo upang mas mabuting maintindihan ang genetics ng XDP. Dahil apektado ng XDP ang utak, maaaring magbigay din ang mga pasyente ng kanilang utak sa kanilang pagkamatay upang mas mabilis nang hanapin ang lunas nito. Maaaring i-contact ang foundation kung nais malaman ng iba pang impormasyon, sa numero sa ibaba.
        ul.dotted.red
          li Something something goes here 
      .right
        .paragraph Services included
        ul.dotted.red
          li Something something goes here 
          li Something something goes here 
          li Something something goes here 
          li Something something goes here 
          li Something something goes here 
          li Something something goes here 
